<h3>Upcoming Activities</h3>

<% if @registrations.empty? %>
	&nbsp;&nbsp;<em>None at this time</em>
<% else %>
	<table class="table table-striped">
	  <thead>
		<tr>
			<th>Date</th>
			<th>Tournament</th>
			<th class="centered">Event</th>
			<th class="centered">Action</th>
    	</tr>
	  </thead>
	  <tbody>
		<% @registrations.each do |registration| %>
			<tr>
				<% if @future_tournaments.include?(registration.tournament) %>
				<td><%= registration.tournament.date.strftime("%m/%d/%Y") %></td>
				<td><%= registration.tournament.name %></td>
				<td><%= link_to registration.event.name, section_path(registration.section.id) %></td>
				<td><%= link_to raw("<i class='icon-pencil'></i> Edit"), edit_registration_path(registration), :class => 'btn btn-mini btn-warning' %></td>
				<% end %>
			</tr>
		<% end %>
	  </tbody>
	</table>
	<%= will_paginate @registrations, :previous_label => "Previous", :next_label => "Next" %>
<% end %>