<div class="nav-collapse">
	<%= link_to(raw("<em>A&M KARATE&nbsp;</em>"), home_path, :class => "brand") %> 
	<ul class="nav">
		<li><%= image_tag 'shadow.jpeg', :size => '25x25' %></li>
		<li><%= link_to "Dojos", dojos_path %></li>
		<!--	link_to "Dojo_Students", dojo_students_path 		-->
		<li><%= link_to "Events", events_path %></li>
		<li><%= link_to "Profile", student_path(current_user.student) %></li>
		<!--	link_to "Registrations", registrations_path %>		-->
		<li><%= link_to "Sections", sections_path %></li>
		<li><%= link_to "Students", students_path %></li>
		<li><%= link_to "Tournaments", tournaments_path %></li>
		<!-- 	link_to "Users", users_path %>						-->
	</ul>

	<ul class="nav pull-right">
	  <li><%# link_to current_user.student.proper_name, student_path(current_user.student) %></li>
  	<li><%= link_to "Logout", logout_path %></li>
  </ul>
</div>