<!DOCTYPE html>
<html>
<head>
  <title>A &amp; M Karate Tournament System</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%# javascript_include_tag "jquery.ui.core.min" %>  
  <%# javascript_include_tag "jquery.ui.widget.min" %>  
  <%# javascript_include_tag "jquery.effects.core" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="wrapper">
    <div class="container">
    <!-- TITLE BAR -->
  	<%# link_to(image_tag('amk_titlebar.png'), home_path) %>

  	<!-- NAV BAR -->
  	<div class="navbar">
  	  <div class="navbar-inner">
  	    <div class="container">
			<% if !logged_in? %>
				<%= render :partial => "partials/public_navigation" %>
			<% elsif logged_in? && (current_user.role? :member) %>
					<%= render :partial => "partials/member_navigation" %>
			<% else %>		<!-- admin -->
				<%= render :partial => "partials/admin_navigation" %>
			<% end %>
  	    </div>
  	  </div>
  	</div>
  	</div>
  	<!-- MAIN CONTENT -->
  	<div class="container">
  		<!-- flash messages -->
  		<% flash.each do |name, msg| %>
  			<div class="alert alert-<%= name == :notice ? "success" : "error" %>">
  				<a class="close" data-dismiss="alert">&times;</a>
  				<%= msg %>
  			</div>
      <% end %>
  		<div class="row">
  			<!-- main content placed here -->
  			<div class="span12">
  			  <div id="main_content">
  			    <%= yield %>		<!-- proceed to home/index.html.erb -->
  			  </div>
  			</div>
  		</div>
  	</div>
  </div>
	
	<!-- FOOTER -->
	<footer>
    <div class="container">
			<%= render :partial => "partials/footer" %>
    </div>
  </footer>
</body>
</html>
